ul {
  margin: 0;
  padding: 0;
  width: 15em;
  list-style-type: none;
}

.selected .badge {
  color: #f0fff1;
  background: #336699;
}

.selected {
  display: block;
  background: #888888;
  color: #f0fff1;
}
